<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			body{
				padding: 0;
				margin: 0;
				background-color: black;
				width: 100vw;
				height: 100vh;
				overflow: hidden;
			}
			img._404{
				width: 100vw;
				height: 100vh;
			}
		</style>
	</head>
	<body><img class="_404" src="{{asset 'images/404.svg'}}"></body>
</html>